In [1]:
import pandas as pd
import requests
from datetime import datetime

### Conexión a BigQuery

In [2]:
# Cargar el archivo CSV
credentials_path = 'src/connections/protean-fabric-386717-d6a21dd66382.json'
credentials_dir = open(credentials_path, 'rb')

In [3]:
# bigquery_connection.py
from google.cloud import bigquery
from google.oauth2 import service_account
import os

def connect_to_bigquery():

    # Load BigQuery credentials from the secret
    #credentials_json = os.environ.get('GOOGLE_APPLICATION_CREDENTIALS')

    # Load BigQuery credentials from the service_account.json file
    #credentials = service_account.Credentials.from_service_account_info(credentials_json)

    credentials = service_account.Credentials.from_service_account_file('src/connections/protean-fabric-386717-d6a21dd66382.json')

    # Connect to the BigQuery API using the credentials
    client = bigquery.Client(credentials=credentials)
    
    return client

### Extracción de Datos de Bigquery

In [19]:
def load_current_data(window_size: int = 3000) -> pd.DataFrame:
    try:
        client = connect_to_bigquery()
        project_id = 'protean-fabric-386717'
        dataset_extract_id = "ml_datasets"
        table_extract_id = "insurance_predictions_v2t"

        query = f"SELECT * FROM `{project_id}.{dataset_extract_id}.{table_extract_id}`\
        ORDER BY  date  DESC\
        LIMIT {window_size};\
        """
        current_data= client.query(query).to_dataframe() 
        return current_data
   
    except Exception as e:
        logging.error(e)
        raise e

In [20]:
dataframe = load_current_data()

NameError: name 'logging' is not defined

In [15]:
dataframe

   user_cod        date  age     sex    bmi  children smoker     region
0    HHUZFF  2023-07-12   40  female  29.29         0     no  northwest
1    SMVYDG  2023-07-12   26  female  32.03         1     no  northeast
2    OOGEBD  2023-07-12   34  female  28.59         2    yes  southeast
3    XBNRIA  2023-07-12   24  female  27.60         1    yes  northwest
4    GEAKCC  2023-07-12   47  female  33.43         0    yes  northwest
5    LMIZVK  2023-07-12   29    male  28.59         1     no  northeast
6    JOMNSY  2023-07-12   37  female  27.13         1     no  southwest
7    YHFJMM  2023-07-12   24  female  36.30         1     no  southeast
8    JUJMFN  2023-07-12   44    male  35.27         1     no  southwest
9    NAQRXZ  2023-07-12   43  female  31.77         1     no  northeast
10   ZQMPZG  2023-07-11   33    male  28.74         1     no  northeast
11   DBRCWT  2023-07-11   36    male  38.97         1    yes  southeast
12   XMRFVP  2023-07-11   23  female  28.01         1     no  southwest
13   SGMIMH  2023-07-11   53  female  32.07         0    yes  southwest
14   NINSQQ  2023-07-11   37  female  34.38         0     no  northwest
15   FKJLDC  2023-07-11   47  female  23.90         0     no  southeast
16   SYTJHY  2023-07-11   38    male  24.05         0     no  southeast
17   OVNAXX  2023-07-11   36    male  27.43         1     no  northwest
18   EXUGOF  2023-07-11   40    male  41.55         0    yes  northwest
19   LUMRFJ  2023-07-11   29    male  26.25         1     no  northwest
20   YMUOST  2023-07-11   37  female  30.64         0     no  southwest
21   NUWVGG  2023-07-11   27    male  31.21         0    yes  southwest
22   AQNKSM  2023-07-11   32    male  30.96         0    yes  southeast
23   YHSCFP  2023-07-11   27    male  22.00         1     no  southeast
24   WHNTCF  2023-07-11   44  female  28.83         1     no  southeast
25   UKEOUL  2023-07-11   33  female  36.50         1     no  northeast
26   CZSZUP  2023-07-11   21    male  37.33         0     no  southwest
27   HGMXFV  2023-07-11   39  female  39.92         0     no  southeast
28   MXNLDW  2023-07-11   30  female  37.48         1     no  southwest
29   VMIRTM  2023-07-11   40  female  32.69         2     no  southeast
30   EIMVVD  2023-07-11   44  female  16.78         0    yes  southeast
31   UKPCPE  2023-07-11   23  female  25.27         1     no  southeast
32   PTZWLT  2023-07-11   44  female  27.17         1     no  southwest
33   VGBGUK  2023-07-11   27  female  26.06         2    yes  southeast
34   AYOFFQ  2023-07-11   42  female  30.96         1     no  southwest
35   FDZYCG  2023-07-11   41  female  36.72         1     no  northeast
36   PXHYUG  2023-07-11   35  female  38.63         1    yes  southwest
37   XFUCDK  2023-07-11   34    male  21.57         0    yes  southeast
38   SWZCOQ  2023-07-11   26    male  21.57         0     no  southeast
39   TLKLYW  2023-07-11   39  female  34.51         0     no  northwest

In [16]:
dataframe.drop(columns=['user_cod', 'date'], inplace=True)

In [17]:
dataframe.rename(columns={'prediction': 'target'}, inplace=True)

In [18]:
dataframe

    age     sex    bmi  children smoker     region
0    40  female  29.29         0     no  northwest
1    26  female  32.03         1     no  northeast
2    34  female  28.59         2    yes  southeast
3    24  female  27.60         1    yes  northwest
4    47  female  33.43         0    yes  northwest
5    29    male  28.59         1     no  northeast
6    37  female  27.13         1     no  southwest
7    24  female  36.30         1     no  southeast
8    44    male  35.27         1     no  southwest
9    43  female  31.77         1     no  northeast
10   33    male  28.74         1     no  northeast
11   36    male  38.97         1    yes  southeast
12   23  female  28.01         1     no  southwest
13   53  female  32.07         0    yes  southwest
14   37  female  34.38         0     no  northwest
15   47  female  23.90         0     no  southeast
16   38    male  24.05         0     no  southeast
17   36    male  27.43         1     no  northwest
18   40    male  41.55         0    yes  northwest
19   29    male  26.25         1     no  northwest
20   37  female  30.64         0     no  southwest
21   27    male  31.21         0    yes  southwest
22   32    male  30.96         0    yes  southeast
23   27    male  22.00         1     no  southeast
24   44  female  28.83         1     no  southeast
25   33  female  36.50         1     no  northeast
26   21    male  37.33         0     no  southwest
27   39  female  39.92         0     no  southeast
28   30  female  37.48         1     no  southwest
29   40  female  32.69         2     no  southeast
30   44  female  16.78         0    yes  southeast
31   23  female  25.27         1     no  southeast
32   44  female  27.17         1     no  southwest
33   27  female  26.06         2    yes  southeast
34   42  female  30.96         1     no  southwest
35   41  female  36.72         1     no  northeast
36   35  female  38.63         1    yes  southwest
37   34    male  21.57         0    yes  southeast
38   26    male  21.57         0     no  southeast
39   39  female  34.51         0     no  northwest

In [4]:
def extract_dataframe_from_bigquery(project_id, dataset_id, table_name):
    # Crea una instancia del cliente de BigQuery
    client = connect_to_bigquery()

    # Obtén la fecha actual en el formato requerido por BigQuery
    current_date = datetime.now().strftime("%Y-%m-%d")
    
    # Crea la consulta SQL para extraer todos los datos de la tabla para el día actual
    query = f"SELECT * FROM `{project_id}.{dataset_id}.{table_name}` WHERE DATE_TRUNC(date, DAY) = '{current_date}'"

    # Ejecuta la consulta y obtiene los resultados como un DataFrame
    df = client.query(query).to_dataframe()

    return df

project_id = 'protean-fabric-386717'
dataset_id = "ml_datasets"
table_name = "insurance_synt"

dataframe = extract_dataframe_from_bigquery(project_id, dataset_id, table_name)
print(dataframe)

   user_cod        date  age     sex    bmi  children smoker     region
0    CZSZUP  2023-07-11   21    male  37.33         0     no  southwest
1    NINSQQ  2023-07-11   37  female  34.38         0     no  northwest
2    SGMIMH  2023-07-11   53  female  32.07         0    yes  southwest
3    DBRCWT  2023-07-11   36    male  38.97         1    yes  southeast
4    ZQMPZG  2023-07-11   33    male  28.74         1     no  northeast
5    FDZYCG  2023-07-11   41  female  36.72         1     no  northeast
6    AYOFFQ  2023-07-11   42  female  30.96         1     no  southwest
7    PTZWLT  2023-07-11   44  female  27.17         1     no  southwest
8    UKPCPE  2023-07-11   23  female  25.27         1     no  southeast
9    MXNLDW  2023-07-11   30  female  37.48         1     no  southwest
10   TLKLYW  2023-07-11   39  female  34.51         0     no  northwest
11   SWZCOQ  2023-07-11   26    male  21.57         0     no  southeast
12   SYTJHY  2023-07-11   38    male  24.05         0     no  southeast
13   XFUCDK  2023-07-11   34    male  21.57         0    yes  southeast
14   EIMVVD  2023-07-11   44  female  16.78         0    yes  southeast
15   FKJLDC  2023-07-11   47  female  23.90         0     no  southeast
16   XMRFVP  2023-07-11   23  female  28.01         1     no  southwest
17   PXHYUG  2023-07-11   35  female  38.63         1    yes  southwest
18   VGBGUK  2023-07-11   27  female  26.06         2    yes  southeast
19   VMIRTM  2023-07-11   40  female  32.69         2     no  southeast
20   HGMXFV  2023-07-11   39  female  39.92         0     no  southeast
21   UKEOUL  2023-07-11   33  female  36.50         1     no  northeast
22   OVNAXX  2023-07-11   36    male  27.43         1     no  northwest
23   EXUGOF  2023-07-11   40    male  41.55         0    yes  northwest
24   LUMRFJ  2023-07-11   29    male  26.25         1     no  northwest
25   YMUOST  2023-07-11   37  female  30.64         0     no  southwest
26   NUWVGG  2023-07-11   27    male  31.21         0    yes  southwest
27   AQNKSM  2023-07-11   32    male  30.96         0    yes  southeast
28   YHSCFP  2023-07-11   27    male  22.00         1     no  southeast
29   WHNTCF  2023-07-11   44  female  28.83         1     no  southeast

In [5]:
df_original = dataframe

In [6]:
df_original

   user_cod        date  age     sex    bmi  children smoker     region
0    CZSZUP  2023-07-11   21    male  37.33         0     no  southwest
1    NINSQQ  2023-07-11   37  female  34.38         0     no  northwest
2    SGMIMH  2023-07-11   53  female  32.07         0    yes  southwest
3    DBRCWT  2023-07-11   36    male  38.97         1    yes  southeast
4    ZQMPZG  2023-07-11   33    male  28.74         1     no  northeast
5    FDZYCG  2023-07-11   41  female  36.72         1     no  northeast
6    AYOFFQ  2023-07-11   42  female  30.96         1     no  southwest
7    PTZWLT  2023-07-11   44  female  27.17         1     no  southwest
8    UKPCPE  2023-07-11   23  female  25.27         1     no  southeast
9    MXNLDW  2023-07-11   30  female  37.48         1     no  southwest
10   TLKLYW  2023-07-11   39  female  34.51         0     no  northwest
11   SWZCOQ  2023-07-11   26    male  21.57         0     no  southeast
12   SYTJHY  2023-07-11   38    male  24.05         0     no  southeast
13   XFUCDK  2023-07-11   34    male  21.57         0    yes  southeast
14   EIMVVD  2023-07-11   44  female  16.78         0    yes  southeast
15   FKJLDC  2023-07-11   47  female  23.90         0     no  southeast
16   XMRFVP  2023-07-11   23  female  28.01         1     no  southwest
17   PXHYUG  2023-07-11   35  female  38.63         1    yes  southwest
18   VGBGUK  2023-07-11   27  female  26.06         2    yes  southeast
19   VMIRTM  2023-07-11   40  female  32.69         2     no  southeast
20   HGMXFV  2023-07-11   39  female  39.92         0     no  southeast
21   UKEOUL  2023-07-11   33  female  36.50         1     no  northeast
22   OVNAXX  2023-07-11   36    male  27.43         1     no  northwest
23   EXUGOF  2023-07-11   40    male  41.55         0    yes  northwest
24   LUMRFJ  2023-07-11   29    male  26.25         1     no  northwest
25   YMUOST  2023-07-11   37  female  30.64         0     no  southwest
26   NUWVGG  2023-07-11   27    male  31.21         0    yes  southwest
27   AQNKSM  2023-07-11   32    male  30.96         0    yes  southeast
28   YHSCFP  2023-07-11   27    male  22.00         1     no  southeast
29   WHNTCF  2023-07-11   44  female  28.83         1     no  southeast

In [7]:
input_df = df_original.drop(['user_cod', 'date'], axis=1)

### Test List Dict

In [8]:
input_list = input_df.to_dict(orient='records')

In [9]:
input_list

[{'age': 21,
  'sex': 'male',
  'bmi': 37.33,
  'children': 0,
  'smoker': 'no',
  'region': 'southwest'},
 {'age': 37,
  'sex': 'female',
  'bmi': 34.38,
  'children': 0,
  'smoker': 'no',
  'region': 'northwest'},
 {'age': 53,
  'sex': 'female',
  'bmi': 32.07,
  'children': 0,
  'smoker': 'yes',
  'region': 'southwest'},
 {'age': 36,
  'sex': 'male',
  'bmi': 38.97,
  'children': 1,
  'smoker': 'yes',
  'region': 'southeast'},
 {'age': 33,
  'sex': 'male',
  'bmi': 28.74,
  'children': 1,
  'smoker': 'no',
  'region': 'northeast'},
 {'age': 41,
  'sex': 'female',
  'bmi': 36.72,
  'children': 1,
  'smoker': 'no',
  'region': 'northeast'},
 {'age': 42,
  'sex': 'female',
  'bmi': 30.96,
  'children': 1,
  'smoker': 'no',
  'region': 'southwest'},
 {'age': 44,
  'sex': 'female',
  'bmi': 27.17,
  'children': 1,
  'smoker': 'no',
  'region': 'southwest'},
 {'age': 23,
  'sex': 'female',
  'bmi': 25.27,
  'children': 1,
  'smoker': 'no',
  'region': 'southeast'},
 {'age': 30,
  'sex': 'female',
  'bmi': 37.48,
  'children': 1,
  'smoker': 'no',
  'region': 'southwest'},
 {'age': 39,
  'sex': 'female',
  'bmi': 34.51,
  'children': 0,
  'smoker': 'no',
  'region': 'northwest'},
 {'age': 26,
  'sex': 'male',
  'bmi': 21.57,
  'children': 0,
  'smoker': 'no',
  'region': 'southeast'},
 {'age': 38,
  'sex': 'male',
  'bmi': 24.05,
  'children': 0,
  'smoker': 'no',
  'region': 'southeast'},
 {'age': 34,
  'sex': 'male',
  'bmi': 21.57,
  'children': 0,
  'smoker': 'yes',
  'region': 'southeast'},
 {'age': 44,
  'sex': 'female',
  'bmi': 16.78,
  'children': 0,
  'smoker': 'yes',
  'region': 'southeast'},
 {'age': 47,
  'sex': 'female',
  'bmi': 23.9,
  'children': 0,
  'smoker': 'no',
  'region': 'southeast'},
 {'age': 23,
  'sex': 'female',
  'bmi': 28.01,
  'children': 1,
  'smoker': 'no',
  'region': 'southwest'},
 {'age': 35,
  'sex': 'female',
  'bmi': 38.63,
  'children': 1,
  'smoker': 'yes',
  'region': 'southwest'},
 {'age': 27,
  'sex': 'female',
  'bmi': 26.06,
  'children': 2,
  'smoker': 'yes',
  'region': 'southeast'},
 {'age': 40,
  'sex': 'female',
  'bmi': 32.69,
  'children': 2,
  'smoker': 'no',
  'region': 'southeast'},
 {'age': 39,
  'sex': 'female',
  'bmi': 39.92,
  'children': 0,
  'smoker': 'no',
  'region': 'southeast'},
 {'age': 33,
  'sex': 'female',
  'bmi': 36.5,
  'children': 1,
  'smoker': 'no',
  'region': 'northeast'},
 {'age': 36,
  'sex': 'male',
  'bmi': 27.43,
  'children': 1,
  'smoker': 'no',
  'region': 'northwest'},
 {'age': 40,
  'sex': 'male',
  'bmi': 41.55,
  'children': 0,
  'smoker': 'yes',
  'region': 'northwest'},
 {'age': 29,
  'sex': 'male',
  'bmi': 26.25,
  'children': 1,
  'smoker': 'no',
  'region': 'northwest'},
 {'age': 37,
  'sex': 'female',
  'bmi': 30.64,
  'children': 0,
  'smoker': 'no',
  'region': 'southwest'},
 {'age': 27,
  'sex': 'male',
  'bmi': 31.21,
  'children': 0,
  'smoker': 'yes',
  'region': 'southwest'},
 {'age': 32,
  'sex': 'male',
  'bmi': 30.96,
  'children': 0,
  'smoker': 'yes',
  'region': 'southeast'},
 {'age': 27,
  'sex': 'male',
  'bmi': 22.0,
  'children': 1,
  'smoker': 'no',
  'region': 'southeast'},
 {'age': 44,
  'sex': 'female',
  'bmi': 28.83,
  'children': 1,
  'smoker': 'no',
  'region': 'southeast'}]

In [16]:
input_test = [{
  'age': 21,
  'sex': 'male',
  'bmi': 37.33,
  'children': 0,
  'smoker': 'no',
  'region': 'southwest'},
 {'age': 37,
  'sex': 'female',
  'bmi': 34.38,
  'children': 0,
  'smoker': 'no',
  'region': 'northwest'}
]

### Generación de Predicciones

In [17]:
PREDICT_ENDPOINT = 'http://127.0.0.1:8000/batch_predict_pipeline'

def predict_input(input_list):
    response = requests.post(PREDICT_ENDPOINT, json=input_list)
    if response.status_code == 200:
        datax = response.json()
        df = pd.DataFrame(datax)
        return df
    else:
        print("Error al realizar las estimaciones")
        return None

In [20]:
df_api_result = predict_input(input_list)

In [21]:
df_api_result

    age     sex    bmi  children smoker     region  prediction_label
0    21    male  37.33         0     no  southwest       2512.516846
1    37  female  34.38         0     no  northwest       6168.380859
2    53  female  32.07         0    yes  southwest      46166.160156
3    36    male  38.97         1    yes  southeast      42133.644531
4    33    male  28.74         1     no  northeast       7866.440430
5    41  female  36.72         1     no  northeast      10958.833008
6    42  female  30.96         1     no  southwest      11346.601562
7    44  female  27.17         1     no  southwest      11542.975586
8    23  female  25.27         1     no  southeast       5660.952637
9    30  female  37.48         1     no  southwest       5872.698730
10   39  female  34.51         0     no  northwest       8693.821289
11   26    male  21.57         0     no  southeast       4077.930664
12   38    male  24.05         0     no  southeast       6432.762695
13   34    male  21.57         0    yes  southeast      18903.324219
14   44  female  16.78         0    yes  southeast      21351.263672
15   47  female  23.90         0     no  southeast      12271.961914
16   23  female  28.01         1     no  southwest       5569.888672
17   35  female  38.63         1    yes  southwest      42014.878906
18   27  female  26.06         2    yes  southeast      20687.529297
19   40  female  32.69         2     no  southeast      10131.258789
20   39  female  39.92         0     no  southeast       8568.553711
21   33  female  36.50         1     no  northeast       7452.037598
22   36    male  27.43         1     no  northwest       8195.031250
23   40    male  41.55         0    yes  northwest      44846.371094
24   29    male  26.25         1     no  northwest       7083.233398
25   37  female  30.64         0     no  southwest       6545.800781
26   27    male  31.21         0    yes  southwest      37467.804688
27   32    male  30.96         0    yes  southeast      40705.179688
28   27    male  22.00         1     no  southeast       6243.446777
29   44  female  28.83         1     no  southeast      11661.746094

### Carga de Resultados a Bigquery

In [22]:
df_api_result.dtypes

age                   int64
sex                  object
bmi                 float64
children              int64
smoker               object
region               object
prediction_label    float64
dtype: object

In [23]:
# Paso 4: Concatenar el DataFrame original con el resultado de la API
df_final = pd.concat([df_original[['user_cod', 'date']], df_api_result], axis=1)

In [24]:
df_final

,user_cod,date,age,sex,bmi,children,smoker,region,prediction_label
0,CZSZUP,2023-07-11,21,male,37.33,0,no,southwest,2512.516846
1,NINSQQ,2023-07-11,37,female,34.38,0,no,northwest,6168.380859
2,SGMIMH,2023-07-11,53,female,32.07,0,yes,southwest,46166.160156
3,DBRCWT,2023-07-11,36,male,38.97,1,yes,southeast,42133.644531
4,ZQMPZG,2023-07-11,33,male,28.74,1,no,northeast,7866.440430
5,FDZYCG,2023-07-11,41,female,36.72,1,no,northeast,10958.833008
6,AYOFFQ,2023-07-11,42,female,30.96,1,no,southwest,11346.601562
7,PTZWLT,2023-07-11,44,female,27.17,1,no,southwest,11542.975586
8,UKPCPE,2023-07-11,23,female,25.27,1,no,southeast,5660.952637
9,MXNLDW,2023-07-11,30,female,37.48,1,no,southwest,5872.698730
10,TLKLYW,2023-07-11,39,female,34.51,0,no,northwest,8693.821289
11,SWZCOQ,2023-07-11,26,male,21.57,0,no,southeast,4077.930664
12,SYTJHY,2023-07-11,38,male,24.05,0,no,southeast,6432.762695
13,XFUCDK,2023-07-11,34,male,21.57,0,yes,southeast,18903.324219
14,EIMVVD,2023-07-11,44,female,16.78,0,yes,southeast,21351.263672
15,FKJLDC,2023-07-11,47,female,23.90,0,no,southeast,12271.961914
16,XMRFVP,2023-07-11,23,female,28.01,1,no,southwest,5569.888672
17,PXHYUG,2023-07-11,35,female,38.63,1,yes,southwest,42014.878906
18,VGBGUK,2023-07-11,27,female,26.06,2,yes,southeast,20687.529297
19,VMIRTM,2023-07-11,40,female,32.69,2,no,southeast,10131.258789
20,HGMXFV,2023-07-11,39,female,39.92,0,no,southeast,8568.553711
21,UKEOUL,2023-07-11,33,female,36.50,1,no,northeast,7452.037598
22,OVNAXX,2023-07-11,36,male,27.43,1,no,northwest,8195.031250
23,EXUGOF,2023-07-11,40,male,41.55,0,yes,northwest,44846.371094
24,LUMRFJ,2023-07-11,29,male,26.25,1,no,northwest,7083.233398
25,YMUOST,2023-07-11,37,female,30.64,0,no,southwest,6545.800781
26,NUWVGG,2023-07-11,27,male,31.21,0,yes,southwest,37467.804688
27,AQNKSM,2023-07-11,32,male,30.96,0,yes,southeast,40705.179688
28,YHSCFP,2023-07-11,27,male,22.00,1,no,southeast,6243.446777
29,WHNTCF,2023-07-11,44,female,28.83,1,no,southeast,11661.746094

In [31]:
df_final.dtypes

user_cod             object
date                 dbdate
age                   int64
sex                  object
bmi                 float64
children              int64
smoker               object
region               object
prediction_label    float64
dtype: object

In [41]:
table_name = 'insurance_predictions_v2'
dataset_id = 'ml_datasets'

In [ ]:
# Cargar el archivo CSV
credentials_path = 'src/connections/protean-fabric-386717-d6a21dd66382.json'
credentials_dir = open(credentials_path, 'rb')

In [42]:
from google.cloud import bigquery

def ingest_or_create_to_bigquery(df_final, table_name, dataset_id):
    # Configurar cliente de BigQuery
    credentials = service_account.Credentials.from_service_account_file('src/connections/protean-fabric-386717-d6a21dd66382.json')

    # Connect to the BigQuery API using the credentials
    client = bigquery.Client(credentials=credentials)

    table_ref = client.dataset(dataset_id).table(table_name)

    # Verificar si la tabla existe
    table_exists = client.get_table(table_ref)

    if table_exists is None:
        # Crear la tabla si no existe
        schema = []
        for column_name, column_type in df_final.dtypes.items():
            schema.append(bigquery.SchemaField(name=column_name, field_type=column_type.name))

        table = bigquery.Table(table_ref, schema=schema)
        table = client.create_table(table)
        print(f"Se ha creado la tabla {dataset_id}.{table_name} en BigQuery.")

    # Cargar los datos del DataFrame en la tabla
    job_config = bigquery.LoadJobConfig()
    job_config.write_disposition = bigquery.WriteDisposition.WRITE_APPEND
    job = client.load_table_from_dataframe(df_final, table_ref, job_config=job_config)
    job.result()

In [43]:
Load_completed = ingest_or_create_to_bigquery(df_final, table_name, dataset_id)

In [ ]:
""" #@flow(name="Return Insurance Preds to Bigquery")
def generate_insurance_data_bigquery():
    table_name = 'insurance_predictions'
    dataset_id = 'ml_datasets'
    df= generate_dataframe()
    load_completed = ingest_or_create_to_bigquery(df, table_name, dataset_id)
    return load_completed

if __name__ == '__main__':
 generate_insurance_data_bigquery()"""

In [ ]:
!pip install pandera